### 1. Write a Python program to find sum of elements in list?

In [5]:
def sum_the_list(l):
    sum = 0
    
    for i in l:
        sum += i
    return sum

In [6]:
sum_the_list([1,2,3,4,5,6])

21

In [7]:
sum_the_list([12,34,456,34,23,45,45,423,23,23,35,465,6576,23,23,2,434])

8676

### 2. Write a Python program to Multiply all numbers in the list?

In [8]:
def mul_the_list(l):
    mul = 1
    
    for i in l:
        mul = mul*i
    return mul

In [10]:
mul_the_list([1,2,3,4,5,6])

720

In [9]:
mul_the_list([12,34,456,34,23,45,45,423,23,23,35,465,6576,23,23,2,434])

3239746465712498614665354240000

### 3. Write a Python program to find smallest number in a list?

In [15]:
def find_smallest(l):
    smallest = l[0]
    
    for i in l:
        if i <= smallest:
            smallest = i
            
    return smallest

In [17]:
find_smallest([1111,223,133,456,115,2446])

115

In [18]:
find_smallest([1111])

1111

In [19]:
find_smallest([12,34,456,34,23,45,45,423,23,23,35,465,6576,23,23,2,434])

2

### 4. Write a Python program to find largest number in a list?

In [38]:
def find_largest(l):
    try:
        largest = l[0]

        for i in l:
            if i >= largest:
                largest = i
        return largest
    except Exception as e:
        print(e)

In [39]:
find_largest([1111,223,133,456,115,2446])

2446

In [40]:
find_largest([1111])

1111

In [41]:
find_largest([12,34,456,34,23,45,45,423,23,23,35,465,6576,23,23,2,434])

6576

### 5. Write a Python program to find second largest number in a list?

In [35]:
def find_second_largest(l):
    try:
        if len(l) == 1:
            return "list is having a mere single element and you wanna know the second highest?"

        largest = find_largest(l)

        idx = l.index(largest)
        l.pop(idx)

        return find_largest(l)
    
    except Exception as e:
        print(e)

In [36]:
find_second_largest([1111,223,133,456,115,2446])

1111

In [37]:
find_second_largest([1111])

'list is having a mere single element and you wanna know the second highest?'

In [34]:
find_second_largest([12,34,456,34,23,45,45,423,23,23,35,465,6576,23,23,2,434])

465

### 6. Write a Python program to find Nth largest element from a list?

In [81]:
def find_nth_largest(l, nth):
    
    if nth > len(l): # since not possible
        return "No kidding!"
    
    elif nth == 1: # finding the largest
        return find_largest(l)
    
    else: 
        for i in range(1, nth+1): # will run loop for nth number of times to find the nth greatest..
            largest = find_largest(l)
            if i == nth: # if we are at the nth greatest, return it
                return find_largest(l)

            idx = l.index(largest) # the index of the greatest elements than nth so that they can be removed 
            l.pop(idx)

In [82]:
find_nth_largest([1,2,3,4,5], 3)

3

In [84]:
find_nth_largest([1111,223,133,456,115,2446], 4)

223

### 7. Write a Python program to print even numbers in a list?

In [42]:
def print_even(l):
    for i in l:
        if i%2 == 0:
            print(i)

In [43]:
print_even([1111,223,133,456,115,2446])

456
2446

In [44]:
print_even([12,34,456,34,23,45,45,423,23,23,35,465,6576,23,23,2,434])

12
34
456
34
6576
2
434

### 8. Write a Python program to print odd numbers in a List?

In [45]:
def print_odd(l):
    for i in l:
        if i%2 != 0:
            print(i)

In [46]:
print_odd([1111,223,133,456,115,2446])

1111
223
133
115

In [47]:
print_odd([12,34,456,34,23,45,45,423,23,23,35,465,6576,23,23,2,434])

23
45
45
423
23
23
35
465
23
23

### 9. Write a Python program to Remove empty List from List?

In [35]:
import copy

def rem_empty_list(lst):
    
    l = copy.deepcopy(lst)    
    i= 0
    while i < len(l):
        if (type(l[i]) == list) and (len(l[i]) == 0):
            l.pop(i) # removing the empty list
            continue
        i += 1

    if len(lst) != len(l):
        return l
    else:
        return "No empty list found in the list!"

In [36]:
rem_empty_list([1,2,4,[3,4,5,5],23,45,[],234])

[1, 2, 4, [3, 4, 5, 5], 23, 45, 234]

In [37]:
rem_empty_list([1, 2, 4, [3, 4, 5, 5], 23, 45, 234])

'No empty list found in the list!'

In [38]:
rem_empty_list([1, 2, 4, [3, 4, 5, 5], 23, [], 45, [], 234, []])

[1, 2, 4, [3, 4, 5, 5], 23, 45, 234]

### 10. Write a Python program to Cloning or Copying a list?

In [40]:
import copy

def cloned_list(l):
    """
    This function returns the deep copy rather than shallow copy
    as we wouldn't want the changes made in the clone list to be reflected in the original list.
    """
    return copy.deepcopy(l)

In [41]:
cloned_list([1, 2, 4, [3, 4, 5, 5], 23, [], 45, [], 234, []])

[1, 2, 4, [3, 4, 5, 5], 23, [], 45, [], 234, []]

### 11. Write a Python program to Count occurrences of an element in a list?

In [42]:
def count_(l, x): # x is the element of which the occurrences are to be found
    
    count = 0 # count of x
    for i in l:
        if i == x: count += 1
            
    return count

In [44]:
count_([1, 2, 4, [3, 4, 5, 5], 23, [], 45, [], 234, []], [])

3

In [46]:
count_([1, 2, 4, [3, 4, 5, 5], 23, [], 45, [], 234, 33, 2, 2.56, 2332, []], 2)

2